# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

Sosysfeedback1
exam2/vector2.c
exam2/vector_soln.c
hw05/fileReaderGlib
hw05/reader
hw05/untitled.txt
lecture14/cache
lecture14/thinkplot.pyc
lecture18/pthread_example
lecture18/simple2threads
lecture19/pthreadlock
lecture22/fork
lecture23/counter
pintos/
sync/Gui.pyc



